.DS_Store

sprayServer/public/javascripts/spray/node_modules

sprayServer/logs
sprayServer/project/project
sprayServer/project/target
sprayServer/target
sprayServer/tmp
sprayServer/dist
sprayServer/.cache
sprayServer/.history
sprayServer/.idea
sprayServer/*.iml
sprayServer/out
sprayServer/.idea_modules
sprayServer/.classpath
sprayServer/.project
sprayServer/RUNNING_PID
sprayServer/.settings

