body, html {
    height: 100%;
}

body {
    background: #c7d1d8;
    color: #2a3a48;
    font: 13px "Lucida Grande", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialised;
    -webkit-user-select: none;
}

body > header {
    box-sizing: border-box;
    position:relative;
    line-height: 40px;
    vertical-align: middle;
    padding: 0 20px;
    margin-bottom:10px;
    z-index: 9;
    background: #445868;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#445868), to(#2a3a48));
    background-image: -moz-linear-gradient(top, #445868, #2a3a48);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.8), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.8);
}

header #left{
    display:inline;
    float:left;
    color: #FFEFD5;
    font-weight: bold;
}

header #right{
    right: 10px;
    text-align:right;
}

#logo {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: -2px;
    text-shadow: 1px 1px 0 #000;
}

#logo span {
    color: #5daad5;
}

a {
    text-decoration: none;
}

h1{
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px;
}

.header{
    border-bottom: 1px solid #9ba5ad;
    border-radius: 5px 5px 0px 0px;
    padding: 4px 10px;
    background-color: #E3E7EB;
    font-weight: bold;
}

.content{
    padding: 5px 10px 10px 15px;
    border-radius: 0px 0px 5px 5px;
    background-color: #FAFAFA;

}

.part{
    border-top: 1px solid #9ba5ad;
}

#whiteboard{
    margin-top: 40px;
}

#toolbar{
    width: 250px;
    float:left;
    margin: 19px 30px 10px 50px;
}

#stage{
    float:left;
}

.canvas{
    margin-top:4px;
}


.box{
    text-align: left;
    border: 1px solid #9ba5ad;
    background: #fff;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 20px;
}

.kineticjs-content{
    background-color: #fff;
    border: 1px solid #9ba5ad;

}


/* ###### Tools ######## */

#tools table{
    padding-left: 13px;
}

#tools td{
    width: 40px;
    height: 40px;
    background-color: #F0F0F0;
    vertical-align: middle;
    border: 2px solid #FAFAFA;
}

#tools td.tool_pen_size, #tools td.tool_forms_size{
    background-color: #FAFAFA;
}

#tools td.tool_pen_size:hover, #tools td.tool_forms_size:hover{
    background-color: #FAFAFA;
    border: 2px solid #FAFAFA;
    cursor: default;
}

#tools td.tool_forms_size select, #tools td.tool_forms_size span,
#tools td.tool_pen_size select, #tools td.tool_pen_size span{
    margin-left: 0px;
}

#tool_pen_options, #tool_forms_options{
    padding-top: 10px;
}


#tools td.active, #tools td:hover{
    border: 2px solid #D7A7A7;
    cursor: pointer;
}

.tool_option{
    padding-left: 30px;
}

.tool_icon{
    width: 30px;
    height: 30px;
    display: block;
    margin-left: 5px;
}

#text{
    background: url(tools.gif) no-repeat -506px -50px;
}

#line{
    background: url(tools.gif) no-repeat -390px -156px;
}

#pen{
    background: url(tools.gif) no-repeat -264px -369px;
}

#forms{
    background: url(tools.gif) no-repeat -393px -208px;
}


#select{
    background: url(tools.gif) no-repeat -263px -314px;
}

#tools .tool_option table {
    padding: 5px 0 0 0;
}

.tool_option{
    padding-top: 20px;
}

#tool_bold{
    font-family: Arial;
    font-weight: bolder;
    font-size: 25px;
    margin-left: 10px;
}

#tool_italic{
    font-family: Times New Roman;
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    margin-left: 10px;
}

#tool_underline{
    font-family: Verdana;
    font-weight: normal;
    text-decoration: underline;
    font-size: 25px;
    margin-left: 10px;
}

#tool_solid hr{
    border:none;
    border-bottom: 2px solid #000;
    height: 10px;
}

#tool_dashed hr{
    border:none;
    border-bottom: 2px dashed #000;
    height: 10px;
}

#tool_dotted hr{
    border:none;
    border-bottom: 2px dotted #000;
    height: 10px;
}

#tools .tool_color:hover{
    border: 2px solid #FAFAFA;
}

input.color{
    width: 36px;
    height: 36px;
    padding: 0;
    font-size: 0px;
}

input.color:hover{
    cursor: pointer;
}

#tool_input_text_box{
    position: relative;
    max-width: 350px;
    overflow: auto;
    background-color: #E3E7EB;
    height: auto;
    z-index: 9999;
    border: 1px solid #9ba5ad;
}

#tool_input_text_box textarea{
    margin: 5px;
    width: 300px;
    height: 100px;
}

#tool_input_text_box button{
    margin: 5px;
}