<script src="@routes.Assets.at("javascripts/draw2d-2.9.0.min/lib/canvg.js")"></script>
<script src="@routes.Assets.at("javascripts/draw2d-2.9.0.min/lib/Class.js")"></script>
<script src="@routes.Assets.at("javascripts/draw2d-2.9.0.min/lib/jquery-1.8.1.js")"></script>
<script src="@routes.Assets.at("javascripts/draw2d-2.9.0.min/lib/jquery-1.8.1.min.js")"></script>
<script src="@routes.Assets.at("javascripts/draw2d-2.9.0.min/lib/jquery-touch_punch.js")"></script>
<script src="@routes.Assets.at("javascripts/draw2d-2.9.0.min/lib/jquery-ui-1.8.23.custom.min.js")"></script>
<script src="@routes.Assets.at("javascripts/draw2d-2.9.0.min/lib/jquery.autoresize.js")"></script>
<script src="@routes.Assets.at("javascripts/draw2d-2.9.0.min/lib/jquery.contextmenu.js")"></script>
<script src="@routes.Assets.at("javascripts/draw2d-2.9.0.min/lib/jquery.layout.js")"></script>
<script src="@routes.Assets.at("javascripts/draw2d-2.9.0.min/lib/json2.js")"></script>
<script src="@routes.Assets.at("javascripts/draw2d-2.9.0.min/lib/pathfinding-browser.min.js")"></script>
<script src="@routes.Assets.at("javascripts/draw2d-2.9.0.min/lib/raphael.js")"></script>
<script src="@routes.Assets.at("javascripts/draw2d-2.9.0.min/lib/rgbcolor.js")"></script>
<script src="@routes.Assets.at("javascripts/draw2d-2.9.0.min/lib/shifty.js")"></script>
<script src="@routes.Assets.at("javascripts/draw2d-2.9.0.min/src/draw2d.modified.js")"></script>

<script src="@routes.Assets.at("javascripts/spray/spray.js")"></script>
<script src="@routes.Assets.at("javascripts/spray/view.js")"></script>