<div class="cright">

    <div id="drawArea"></div>
    <script>
        jQuery(document).ready(function() {

            htwg.spray.classDefinition = classdefs;
			htwg.spray.classDefinitionByName = {};
			for (i=0; i<classdefs.length; i++) {
				htwg.spray.classDefinitionByName[classdefs[i].name] = classdefs[i];
			}
            htwg.spray.shapeDefinition = shapedefs;
			htwg.spray.shapeDefinitionByName = {};
			for (i=0; i<shapedefs.length; i++) {
				htwg.spray.shapeDefinitionByName[shapedefs[i].name] = shapedefs[i];
			}

            htwg.spray.commandHelper = new htwg.spray.CommandHelper(jQuery);
            htwg.spray.shapeFactory = new htwg.spray.ShapeFactory(jQuery);
            htwg.spray.connectionFactory = new htwg.spray.ConnectionFactory(jQuery);

            htwg.spray.menu = new htwg.spray.Menu(jQuery);
            htwg.spray.menu.buildMenu();

            htwg.spray.view = new htwg.spray.View("drawArea");
            htwg.spray.utils = new htwg.spray.Utils(jQuery);
            htwg.spray.toolbar = new htwg.spray.Toolbar(jQuery);

            draw2d.Connection.DEFAULT_ROUTER= new spray2d.layout.connection.DirectRouter();
        });
    </script>

</div>
