<!-- import draw2d -->
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/lib/shifty.js")"></SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/lib/raphael.js")"></SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/lib/jquery-1.10.2.min.js")"></SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/lib/jquery.autoresize.js")"></SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/lib/jquery-touch_punch.js")"></SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/lib/jquery.contextmenu.js")"></SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/lib/rgbcolor.js")"></SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/lib/canvg.js")"></SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/lib/Class.js")"></SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/lib/json2.js")"></SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/lib/pathfinding-browser.min.js")"></SCRIPT>

<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/draw2d_modified.js")"></SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/util/Color.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/util/ArrayList.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/util/SVGUtil.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/util/UUID.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/util/spline/Spline.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/util/spline/CubicSpline.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/util/spline/CatmullRomSpline.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/util/spline/BezierSpline.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/geo/PositionConstants.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/geo/Point.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/geo/Rectangle.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/geo/Ray.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/command/CommandType.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/command/Command.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/command/CommandCollection.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/command/CommandStack.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/command/CommandStackEvent.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/command/CommandStackEventListener.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/command/CommandMove.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/command/CommandMoveLine.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/command/CommandMoveJunction.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/command/CommandResize.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/command/CommandConnect.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/command/CommandReconnect.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/command/CommandDelete.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/command/CommandAdd.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/command/CommandAddFigure.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/command/CommandAddJunctionPoint.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/command/CommandRemoveJunctionPoint.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/layout/connection/ConnectionRouter.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/layout/connection/DirectRouter.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/layout/connection/JunctionRouter.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/layout/connection/ManhattanConnectionRouter.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/layout/connection/ManhattanBridgedConnectionRouter.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/layout/connection/CircuitConnectionRouter.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/layout/connection/SplineConnectionRouter.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/layout/connection/FanConnectionRouter.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/layout/connection/MazeConnectionRouter.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/layout/connection/MuteableManhattanConnectionRouter.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/layout/connection/SketchConnectionRouter.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/layout/mesh/MeshLayouter.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/layout/mesh/ExplodeLayouter.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/layout/mesh/ProposedMeshChange.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/layout/locator/Locator.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/layout/locator/PortLocator.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/layout/locator/InputPortLocator.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/layout/locator/OutputPortLocator.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/layout/locator/ConnectionLocator.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/layout/locator/ManhattanMidpointLocator.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/layout/locator/PolylineMidpointLocator.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/layout/locator/TopLocator.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/layout/locator/BottomLocator.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/layout/locator/LeftLocator.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/layout/locator/RightLocator.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/layout/locator/CenterLocator.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/policy/EditPolicy.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/policy/canvas/CanvasPolicy.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/policy/canvas/SelectionPolicy.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/policy/canvas/SingleSelectionPolicy.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/policy/canvas/PanningSelectionPolicy.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/policy/canvas/BoundingboxSelectionPolicy.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/policy/canvas/ReadOnlySelectionPolicy.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/policy/canvas/DecorationPolicy.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/policy/canvas/FadeoutDecorationPolicy.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/policy/canvas/CoronaDecorationPolicy.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/policy/canvas/SnapToEditPolicy.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/policy/canvas/SnapToGridEditPolicy.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/policy/canvas/ShowGridEditPolicy.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/policy/canvas/SnapToGeometryEditPolicy.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/policy/figure/DragDropEditPolicy.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/policy/figure/RegionEditPolicy.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/policy/figure/HorizontalEditPolicy.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/policy/figure/VerticalEditPolicy.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/policy/figure/SelectionFeedbackPolicy.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/policy/figure/RectangleSelectionFeedbackPolicy.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/policy/figure/BigRectangleSelectionFeedbackPolicy.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/policy/figure/RoundRectangleSelectionFeedbackPolicy.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/policy/figure/BusSelectionFeedbackPolicy.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/policy/figure/VBusSelectionFeedbackPolicy.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/policy/figure/HBusSelectionFeedbackPolicy.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/policy/figure/AntSelectionFeedbackPolicy.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/policy/figure/GlowSelectionFeedbackPolicy.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/policy/figure/SlimSelectionFeedbackPolicy.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/policy/line/LineSelectionFeedbackPolicy.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/policy/line/JunctionSelectionFeedbackPolicy.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/policy/port/PortFeedbackPolicy.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/policy/port/ElasticStrapFeedbackPolicy.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/policy/port/IntrusivePortsFeedbackPolicy.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/Canvas.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/Selection.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/Figure.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/node/Node.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/VectorFigure.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/basic/Rectangle.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/SetFigure.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/SVGFigure.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/node/Hub.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/node/HorizontalBus.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/node/VerticalBus.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/node/Fulcrum.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/basic/Oval.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/basic/Circle.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/basic/Label.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/basic/Line.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/basic/PolyLine.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/basic/Diamond.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/basic/Image.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/Connection.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/VectorFigure.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/ResizeHandle.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/basic/LineResizeHandle.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/basic/LineStartResizeHandle.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/basic/LineEndResizeHandle.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/basic/JunctionResizeHandle.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/basic/GhostJunctionResizeHandle.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/Port.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/InputPort.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/OutputPort.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/HybridPort.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/layout/anchor/ConnectionAnchor.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/layout/anchor/ChopboxConnectionAnchor.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/layout/anchor/ShortesPathConnectionAnchor.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/layout/anchor/CenterEdgeConnectionAnchor.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/arrow/CalligrapherArrowLeft.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/arrow/CalligrapherArrowDownLeft.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/node/Start.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/node/End.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/node/Between.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/note/PostIt.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/widget/Widget.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/widget/Slider.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/diagram/Diagram.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/diagram/Pie.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/diagram/Sparkline.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/analog/OpAmp.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/analog/ResistorBridge.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/analog/ResistorVertical.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/analog/VoltageSupplyHorizontal.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/analog/VoltageSupplyVertical.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/layout/Layout.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/layout/HorizontalLayout.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/layout/VerticalLayout.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Icon.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Thunder.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Snow.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Hail.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Rain.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Cloudy.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Sun.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Undo.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Detour.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Merge.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Split.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Fork.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/ForkAlt.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Exchange.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Shuffle.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Refresh.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Ccw.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Acw.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Contract.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Expand.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Stop.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/End.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Start.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Ff.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Rw.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/ArrowRight.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/ArrowLeft.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/ArrowUp.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/ArrowDown.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/ArrowLeft2.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/ArrowRight2.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Smile2.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Smile.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Alarm.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Clock.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/StopWatch.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/History.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Future.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/GlobeAlt2.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/GlobeAlt.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Globe.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Warning.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Code.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Pensil.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Pen.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Plus.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Minus.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/TShirt.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Sticker.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Page2.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Page.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Landscape1.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Landscape2.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Plugin.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Bookmark.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Hammer.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Users.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/User.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Customer.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Employee.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Anonymous.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Skull.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Mail.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Picture.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Bubble.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/CodeTalk.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Talkq.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Talke.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Home.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Lock.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Clip.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Star.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/StarOff.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Star2.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Star2Off.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Star3.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Star3Off.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Chat.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Quote.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Gear2.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Gear.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Wrench.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Wrench2.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Wrench3.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/ScrewDriver.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/HammerAndScrewDriver.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Magic.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Download.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/View.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Noview.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Cloud.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Cloud2.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/CloudDown.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/CloudUp.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Location.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Volume0.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Volume1.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Volume2.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Volume3.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Key.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Ruler.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Power.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Unlock.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Flag.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Tag.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Search.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/ZoomOut.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/ZoomIn.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Cross.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Check.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Settings.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/SettingsAlt.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Feed.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Bug.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Link.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Calendar.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Picker.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/No.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/CommandLine.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Photo.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Printer.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Export.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Import.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Run.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Magnet.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/NoMagnet.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/ReflectH.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/ReflectV.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Resize2.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Rotate.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Connect.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Disconnect.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Folder.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Man.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Woman.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/People.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Parent.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Notebook.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Diagram.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/BarChart.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/PieChart.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/LineChart.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Apps.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Locked.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Ppt.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Lab.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Umbrella.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Dry.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Ipad.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Iphone.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Jigsaw.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Lamp.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Lamp_alt.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Video.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Palm.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Fave.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Help.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Crop.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/BioHazard.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/WheelChair.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Mic.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/MicMute.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/IMac.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Pc.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Cube.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/FullCube.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Font.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Trash.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/NewWindow.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/DockRight.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/DockLeft.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/DockBottom.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/DockTop.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Pallete.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Cart.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Glasses.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Package.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Book.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Books.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Icons.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/List.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Db.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Paper.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/TakeOff.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Landing.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Plane.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Phone.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/HangUp.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/SlideShare.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Twitter.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/TwitterBird.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Skype.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Windows.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Apple.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Linux.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/NodeJs.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/JQuery.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Sencha.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Vim.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/InkScape.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Aumade.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Firefox.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Ie.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Ie9.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Opera.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Chrome.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Safari.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/LinkedIn.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Flickr.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/GitHub.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/GitHubAlt.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Raphael.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/GRaphael.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Svg.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Usb.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/icon/Ethernet.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/pert/Activity.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/state/Start.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/state/End.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/state/State.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/shape/state/Connection.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/ui/LabelEditor.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/ui/LabelInplaceEditor.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/decoration/connection/Decorator.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/decoration/connection/ArrowDecorator.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/decoration/connection/DiamondDecorator.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/decoration/connection/CircleDecorator.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/decoration/connection/BarDecorator.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/io/Reader.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/io/Writer.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/io/svg/Writer.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/io/png/Writer.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/io/json/Writer.js")"> </SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/src/io/json/Reader.js")"> </SCRIPT>

<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/lib/jquery.browser.js")"></SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/lib/jquery-ui-1.10.3.custom.min.js")"></SCRIPT>
<SCRIPT src="@routes.Assets.at("javascripts/spray/lib/draw2d_3.0.0/lib/jquery.layout.js")"></SCRIPT>

<!-- import spray2d -->
<script src="@routes.Assets.at("javascripts/spray/spray2d/command/CommandCompart.js")"></script>
<script src="@routes.Assets.at("javascripts/spray/spray2d/shape/basic/BoundingBox.js")"></script>
<script src="@routes.Assets.at("javascripts/spray/spray2d/shape/basic/Ellipse.js")"></script>
<script src="@routes.Assets.at("javascripts/spray/spray2d/shape/basic/Label.js")"></script>
<script src="@routes.Assets.at("javascripts/spray/spray2d/shape/basic/Line.js")"></script>
<script src="@routes.Assets.at("javascripts/spray/spray2d/shape/basic/Polygon.js")"></script>
<script src="@routes.Assets.at("javascripts/spray/spray2d/shape/basic/Polyline.js")"></script>
<script src="@routes.Assets.at("javascripts/spray/spray2d/shape/basic/Rectangle.js")"></script>
<script src="@routes.Assets.at("javascripts/spray/spray2d/layout/locator/FigureLocator.js")"></script>
<script src="@routes.Assets.at("javascripts/spray/spray2d/layout/locator/CustomPortLocator.js")"></script>
<script src="@routes.Assets.at("javascripts/spray/spray2d/layout/connection/DirectRouter.js")"></script>
<script src="@routes.Assets.at("javascripts/spray/spray2d/layout/connection/ManhattanConnectionRouter.js")"></script>
<script src="@routes.Assets.at("javascripts/spray/spray2d/policy/port/SprayPortsFeedbackPolicy.js")"></script>
<script src="@routes.Assets.at("javascripts/spray/spray2d/policy/canvas/CompartmentSelectionPolicy.js")"></script>

<!-- import htwg.spray -->
<script src="@routes.Assets.at("javascripts/spray/utils/ShapeFactory.js")"></script>
<script src="@routes.Assets.at("javascripts/spray/utils/CommandHelper.js")"></script>
<script src="@routes.Assets.at("javascripts/spray/utils/ConnectionFactory.js")"></script>
<script src="@routes.Assets.at("javascripts/spray/utils/Utils.js")"></script>
<script src="@routes.Assets.at("javascripts/spray/utils/Websocket.js")"></script>
<script src="@routes.Assets.at("javascripts/spray/editor/Menu.js")"></script>
<script src="@routes.Assets.at("javascripts/spray/editor/Toolbar.js")"></script>
<script src="@routes.Assets.at("javascripts/spray/editor/View.js")"></script>

<!-- import test shapes -->
<script src="@routes.Assets.at("javascripts/spray/examples/petrinet/genspray.js")"></script>
<script src="@routes.Assets.at("javascripts/spray/examples/petrinet/genshape.js")"></script>